.content {
  --background: var(--ion-color-tertiary);
}

.post-container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.post-card,
.comments-card {
  background: var(--ion-card-background, var(--ion-color-light));
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.post-author {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

.post-content {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.write-box {
  margin-bottom: 0.6rem;
}

.actions-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-actions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.comment-author {
  font-weight: 600;
}

.comment-text {
  margin: 0.2rem 0;
}

.vote-row {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.vote-number {
  color: var(--ion-color-secondary);
  font-weight: 500;
  margin-left: 4px;
}

.header-popover ion-item,
.post-popover ion-item,
.comment-popover ion-item {
  --min-height: 44px;
  display: flex;
  align-items: center;
}

:host-context(.dark) .post-card,
:host-context(.dark) .comments-card {
  background: #1f2430 !important;
  color: #ffffff !important;
}
.ellipsis{
  color: var(--ion-color-dark);
}
.backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.35);
  z-index: 9998;
}

ion-modal {
  --width: 90%;
  --max-width: 600px;
  --border-radius: 16px;
  --box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}
.comentario {
  min-height: 350px;
}
.savebutton{
  color: var(--ion-color-primary);
}
.content{
  color: val(--ion-color-terciary);
}
.ion-padding {
  color: var(--ion-color-light);
}

.no-comments-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // ocupa todo el alto disponible
  text-align: center;
  color: var(--ion-color-dark);
  font-style: italic;
  padding: 1rem;
}

@media (prefers-color-scheme: dark){
  .ellipsis{
    color: var(--ion-color-light) !important;
  }
  ion-padding {
    color: var(--ion-color-light);
  }
  .no-comments-text{
    color: var(--ion-color-light) !important;
  }
}




