services:

  frontend:
    build: ./frontend
    ports:
      - "8100:8100"
    depends_on:
      - backend

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"