<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="light" [routerLink]="['/home']">
            Inicio
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="light" [routerLink]="['/community']">
            Comunidad
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" color="light" [routerLink]="['/profile']">
            Perfil
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="tertiary">
  <ion-card class="responsive-square-card"color="light">
    <ion-card-content class="card-content-left" >
      <ion-icon name="person-circle" class="big-icon" color="secondary"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
