.titlePrimary {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2vw;
}

.responsive-card {
  width: 90vw;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  height: auto;     
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}
.big-icon {
  font-size: clamp(4rem, 8vw, 6rem);
}

ion-card-content {
  position: relative;
}

ion-button.volver-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  max-width: none;
  width: auto !important;
  display: inline-flex !important;
  margin: 0 !important;
  font-size: 0.9rem; 
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --border-radius: 6px;
}

ion-card-title {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 200;
  margin-bottom: 1rem;
}

ion-card-subtitle {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  margin-bottom: 1rem;
}

ion-item ion-label {
  font-size: clamp(1.2rem, 2vw, 1.4rem); 
  font-weight: 500;
  margin-bottom: 0.5rem;
}

ion-item {
  border-radius: 8px;
  margin-bottom: 1rem;
  --background: transparent;
  --padding-start: 0.5rem;
  --inner-padding-end: 0.5rem;
}

ion-input {
  font-size: clamp(1rem, 2vw, 1.2rem);
  --padding-top: 0.75rem;
  --padding-bottom: 0.75rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --background: transparent;
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
}

ion-button {
  font-size: 1.2rem;       
  max-width: 450px;
  width: 100%;
  display: block;
  margin: 20px auto 0 auto; 
  border-radius: 8px;  
}
