/* Contenedor principal */
.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* Tarjeta de la institución */
.institution-card {
  background-color: var(--ion-color-light);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.institution-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--ion-color-primary);
}

.institution-address {
  font-size: 1.2rem;
  text-align: center;
  color: var(--ion-color-medium);
}

/* Lista de profesores estilo lista centrada */
.comments-card {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 16px;
}

.comments-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: var(--ion-color-dark); /* más oscuro */
}

/* Profesor */
.comment-item {
  display: flex;
  background-color: var(--ion-color-light);
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
  align-items: center;
  gap: 12px;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer; /* indica que es interactivo */
}

.comment-item:hover {
  background-color: #f0f4f8; /* cambio de color suave */
  transform: translateY(-2px); /* efecto de elevación */
}

.comment-user-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prof-name {
  font-weight: bold;
  font-size: 0.95rem;
  color: var(--ion-color-dark);
}

.comment-content {
  font-size: 0.85rem;
  color: var(--ion-color-medium);
  margin: 4px 0 0 0;
}

.student-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--ion-color-primary);
}

.profile-btn {
  flex-shrink: 0;
}
